@tailwind base;
@tailwind components;
@tailwind utilities;

.slide {
  border: 1px solid green;
}
.carouselSlide {
  height: 70vh;
  width: 80%;
  margin: 0 auto;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carouselSlide h1 {
  font-size: 300%;
}
.carouselSlide p {
  font-size: 110%;
}
